// COLORS
$color-primary: #e7816b;
$color-primary-light: #ffad9b;
$color-primary-xlight: #fdf3f0;

$color-grey-light: #f1f3f5;

$color-grey-dark: #333136;

$color-white: #ffffff;
$color-black: #1d1c1e;

// FONT
$body-font-size: 1.6rem;
$heading-3-font-size: 2rem;
$heading-2-font-size: 4rem;
$heading-1-font-size: 4.8rem;

// GRID
$grid-width: 118.6rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 2.4rem;

// BREAKPOINTS
$bp-medium: 62em; // 992px
$bp-small: 45em; // 720px
$bp-xsmall: 34em; // 544px
