.header {
  padding: 6.4rem 0;

  &__container {
    max-width: $grid-width;
    padding: 0 3.8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 2.7rem;
    display: block;
  }
}
