.btn {
  &,
  &:link,
  &:visited {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.582rem 2.429rem;
    display: inline-block;
    border-radius: 8px;
    transition: all 0.3s;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover,
    &:active {
      background-color: $color-primary-light;
    }
  }

  &--secondary {
    background-color: $color-white;
    color: $color-grey-dark;

    &:hover,
    &:active {
      background-color: $color-primary-light;
      color: $color-white;
    }
  }
}
