.section-footer-cta {
  grid-column: center-start / center-end;
  background-color: $color-primary;
  @include bRadius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.2rem 9.5rem;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.3089),
      rgba($color-primary, 0.3089)
    ),
    url(../../assets/shared/desktop/bg-pattern-call-to-action.svg);
  background-size: initial;
  background-position: right;
  background-blend-mode: normal;
  background-repeat: no-repeat;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    text-align: center;
    padding: 5.7rem;
    background-position: center center;
  }

  @media only screen and (max-width: $bp-xsmall) {
    padding: 6.4rem 2.4rem;
  }

  &__text-box {
    flex-basis: 50%;

    @media only screen and (max-width: $bp-medium) {
      flex-basis: 100%;
    }
  }

  & .paragraph {
    @media only screen and (max-width: $bp-medium) {
      padding: 0 7rem;
      margin-bottom: 3.2rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
      padding: 0;
      margin-bottom: 2.9rem;
    }
  }
}
