*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px= 62.5%
}

body {
  box-sizing: border-box;
}

.body-wrapper {
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: $grid-width;
  padding: 0 3.8rem;
  margin: 0 auto;

  &--alt {
    @media only screen and (max-width: $bp-small) {
      padding: 0;
    }
  }
}

.main-grid {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  row-gap: 16rem;
  grid-template-columns:
    [full-start] minmax(3.8rem, 1fr) [center-start] repeat(
      12,
      [col-start] minmax(min-content, 9.26rem) [col-end]
    )
    [center-end] minmax(3.8rem, 1fr) [full-end];
}
