.section-hero {
  grid-column: center-start / center-end;
  position: relative;

  @media only screen and (max-width: $bp-xsmall) {
    grid-column: full-start / full-end;
  }

  &::before {
    content: url(../../assets/shared/desktop/bg-pattern-leaf.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-16.3%, 46.127946128%);
    z-index: -4;
  }
}

.hero {
  grid-template-columns: 7fr 5fr;
  background-color: $color-primary;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.3089),
      rgba($color-primary, 0.3089)
    ),
    url(../../assets/home/desktop/bg-pattern-hero-home.svg);
  background-size: initial;
  background-position: right;
  background-blend-mode: normal;
  background-repeat: no-repeat;

  overflow: hidden;
  @include bRadius;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    background-position-x: 330%;
    background-position-y: center;
  }

  @media only screen and (max-width: $bp-small) {
    background-position-x: -100%;
  }

  @media only screen and (max-width: $bp-xsmall) {
    border-radius: 0;
    background-position-x: 0;
  }

  &__text-box {
    padding: 14.15rem 4rem 14.15rem 9.5rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 6rem 7rem 0;
      text-align: center;
      margin-bottom: -7.5rem;
      position: relative;
      z-index: 3;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 8rem 2.4rem 0;
    }
  }

  & .paragraph {
    padding-right: 7rem;

    @media only screen and (max-width: $bp-medium) {
      padding-right: 5.55rem;
      padding-left: 5.55rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__img-box {
    background-image: url(../../assets/home/desktop/image-hero-phones.png);
    background-position: top center;

    @media only screen and (max-width: $bp-medium) {
      padding-top: 53.4rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
      padding-top: 52.3rem;
    }
  }
}

/////////////////////////////////////////////////////////////////////
// SECTION PROJECTS
.section-projects {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: $gutter-vertical;
  row-gap: $gutter-horizontal;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
  }
}

.projects {
  &__web,
  &__app,
  &__design {
    position: relative;
    @include bRadius;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__web::before,
  &__app::before,
  &__design::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    transform-origin: left;
    transition: all 0.3s ease-in;
  }

  &__web:hover::before,
  &__app:hover::before,
  &__design:hover::before {
    background: rgba($color-primary, 0.8);
  }

  &__web {
    background: url(../../assets/home/desktop/image-web-design-large.jpg);

    grid-row: span 2;

    @media only screen and (max-width: $bp-medium) {
      min-height: 20rem;
      background: url(../../assets/home/tablet/image-web-design.jpg) no-repeat
        center center/cover;
      grid-row: 1 / 2;
    }

    @media only screen and (max-width: $bp-xsmall) {
      min-height: 25rem;
      background: url(../../assets/home/mobile/image-web-design.jpg) no-repeat
        center center/cover;
    }
  }

  &__app {
    background: url(../../assets/home/desktop/image-app-design.jpg);
    min-height: 30.8rem;

    @media only screen and (max-width: $bp-medium) {
      min-height: 20rem;
      background: url(../../assets/home/tablet/image-app-design.jpg) no-repeat
        center center/cover;
    }
    @media only screen and (max-width: $bp-xsmall) {
      min-height: 25rem;
      background: url(../../assets/home/mobile/image-app-design.jpg) no-repeat
        center center/cover;
    }
  }

  &__design {
    grid-column: 2 / 3;
    background: url(../../assets/home/desktop/image-graphic-design.jpg);
    min-height: 30.8rem;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      min-height: 20rem;
      background: url(../../assets/home/tablet/image-graphic-design.jpg)
        no-repeat center center/cover;
    }
    @media only screen and (max-width: $bp-xsmall) {
      min-height: 25rem;
      background: url(../../assets/home/mobile/image-graphic-design.jpg)
        no-repeat center center/cover;
    }
  }

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
  }
}

/////////////////////////////////////////////////////////////////////
// SECTION FEATURES
.section-features {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $gutter-vertical;
  gap: $gutter-vertical;

  position: relative;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
  }

  &::before {
    content: url(../../assets/shared/desktop/bg-pattern-leaf.svg);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(16.3%, 51.127946128%) rotate(180deg);
    z-index: -4;

    @media only screen and (max-width: $bp-medium) {
      content: "";
    }
  }
}

.feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: row;
    text-align: left;
  }

  @media only screen and (max-width: $bp-xsmall) {
    flex-direction: column;
    text-align: center;
  }

  &__img {
    display: block;
    background-image: url(../../assets/shared/desktop/bg-pattern-small-circle.svg);
    background-size: initial;
  }
}
